<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Address" value="https://www.google.com/" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36" />
    <add key="Referer" value="https://www.google.com/" />
    <add key="NumberThreads" value="300" />
    <add key="TimeMin" value="2" />
    <add key="TimeMax" value="8" />
    <add key="FollowingLinks" value="false" />
  </appSettings>
</configuration>
